
 body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
}
      
h1{
    text-align: center;
}

#button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review { 
    border: 1px solid #ccc;
    width: 600px;
    height: auto;
    min-height: 75px;;
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
}
       
.review h3 {
     margin: 0; 
}
       
.review p { 
    margin: 5px 0;
 }
    